<div class="panel super-panel old-map">
  <div class="panel">
    <h3 class="green-font">
      Find Portland's heritage trees as you go about your normal daily routines.
    </h3>
    <p>
      <%= link_to "Install Sequoia", '#' %> on your smartphone (available for Android, iOS coming soon) to receive an SMS or push notification any time your daily travels take you within a half mile of an historic tree.
    </p>
  </div>
  <br>

  <div class="panel">
    <h3 class="green-font">
      Become a Friend of the Lorax!
    </h3>
    <p>
      <%= link_to "Sign up", '#' %> on Sequoia's website to become a Friend of the Lorax and earn Truffula Seeds for each visit: one seed per tree for each season, and an extra seed when you upload a photo of the tree.  You will also earn extra Seeds if your photo is ranked 1st - 3rd for that tree.
    </p>
    <br>

    <h4 class="green-font">
      Do you have what it takes to be a Caretaker?
    </h3>
    <p>
      If you have a favorite tree, become the Caretaker!  The Friend with the most visits to a tree in the last 90 days is granted the status of Caretaker for that tree.
    </p>
  </div>
</div>