<div class="panel super-panel old-map">
  <div class="panel">
    <h3 class="green-font">
      Find Portland's heritage trees
    </h3>
    <hr class="narrow-hr">
    <p>
      Find Portland's heritage trees as you go about your normal daily routines.  Install the <%= link_to "Sequoia app", '#' %> on your smartphone to receive an SMS or push notification when you travel within a half mile of a heritage tree.  Sequoia is available for Android, and coming soon for iOS.
    </p>
  </div>
  <br>

  <div class="panel">
    <h3 class="green-font">
      Become a Friend of the Lorax
    </h3>
    <hr class="narrow-hr">
    <p>
      <%= link_to "Sign up", '#' %> on Sequoia's website to become a Friend of the Lorax and earn Truffula Seeds for each visit: one seed per tree for each season, and an extra seed when you upload a photo of the tree.  You will also earn extra Seeds if your photo is ranked 1st - 3rd for that tree.
    </p>
    <br>

    <h4 class="green-font">
      Do you have what it takes to be a Caretaker?
    </h3>
    <p>
      If you have a favorite tree, become the Caretaker!  The Friend with the most visits to a tree in the last 90 days is granted the status of Caretaker for that tree.
    </p>
  </div>
</div>