<div class="center hero-unit old-map">
  <h1>Welcome to <span class="green-font">Sequoia</span></h1>

  <h2>
    Portland's Heritage Tree Resource
  </h2>
  <br>

  <h4>
    What is a heritage tree?
  </h4>
  <small>
    A heritage tree has special historical or hortical significance, or exceptional size or age.
    <br>
    There are over three hundred heritage trees throughout Portland.
  </small>

  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div class="row-fluid">
        <div class="span5">
          <%= link_to "Install App", 'http://civicapps.iknuth.com/static/Trees-debug.apk', class: "extra-margin-top btn btn-large btn-success" %>
        </div>
        <div class="span2"></div>
        <div class="span5">
          <%= link_to "Sign Up", '#', class: "extra-margin-top btn btn-large btn-success" %>
        </div>
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>