<div class="center hero-unit old-map">
  <h1>Welcome to <span class="green-font">Sequoia</span></h1>

  <h2>
    Portland's Historic Tree Resource
  </h2>

  <%= link_to "Sign up now!", '#', class: "extra-margin-top btn btn-large btn-success" %>
</div>