<div class="center hero-unit old-map">
  <h1>Welcome to <span class="green-font">Sequoia</span></h1>

  <h2>
    Portland's Historic Tree Resource
  </h2>

  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div class="row-fluid">
        <div class="span5">
          <%= link_to "Install App", '#', class: "extra-margin-top btn btn-large btn-success" %>
        </div>
        <div class="span2"></div>
        <div class="span5">
          <%= link_to "Sign Up", '#', class: "extra-margin-top btn btn-large btn-success" %>
        </div>
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>