<div class="center hero-unit old-map">
  <h1>Welcome to <span class="green-font">Sequoia</span></h1>

  <h2>
    Portland Heritage Trees
  </h2>

  <h3>
    <p>Heritage Trees are recognized for their historical or horticultural significance, unique size or age.</p>
    <p>There are over 300 Heritage Trees throughout Portland. Use our mobile app to easily find them all.</p>
  </h3>
  
  
  <%= link_to "Sign up now!", '#', class: "extra-margin-top btn btn-large btn-success" %>
</div>