<div class="panel super-panel old-map">
  <h3>Friends of the Lorax</h3>
  <hr class="wide-hr">
  <ul>
    <li>
      <h4>Lauren Xavier</h4>
      <p>17 Truffula Seeds</p>
      <p>Caretaker of 2 heritage trees</p>
    </li>
  </ul>
</div>