@import "bootstrap";

/* UNIVERSAL */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: image-url('wood.png');
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.control-width {
  width: 60%;
}

.green-font {
  color: #266340 !important;
}

ul {
  list-style-type: lower-greek;
}

.wide-hr {
  color: #dd9f4f;
  background: #dd9f4f;
  border: #BA8541;
  height: 5px;
}

.narrow-hr {
  color: #dd9f4f;
  background: #dd9f4f;
  border: #BA8541;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.short-hr {
  width: 50%;
}

.add-padding {
  margin: 40px;
}

.extra-margin-left {
  margin-left: 70px;
}

.ranking-name {
  margin-bottom: 2px;
}

.old-map {
  background-image: image-url('old_map.png');
}

.extra-margin-top {
  margin-top: 35px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #16240F;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/*h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}*/

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #16240F;
}

/* HEADER */

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #f2f2f2;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.green-bar {
  background-image: image-url('pool_table.png');
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background: #dd9f4f;
  border: #BA8541;
}

footer a {
  color: #444;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* PROFILE */

.panel {
  border-color: #266340;
  border-style: solid;
  border-width: 1px;
  padding: 1.25em;
  border-radius: 3px;
}

.super-panel {
  border-width: 2px;
  margin: 4em;
}

.profile-image {
  display: block;
  text-align: center;
}

/* TREES MAP */

.trees-body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  width: 100%;
}

.trees-footer {
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 5;
}

.app-wrapper {
  position: relative;
  height: 90%;
  width: 100%;
}
#map {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
}
  #map .leaflet-top .leaflet-control {
    margin-top: 20px;
  }
.main-container {
  position: relative;
  z-index: 5;
  padding-top: 20px;
}
  .main-container .input-box {
    padding-right: 0;
    margin-bottom: 10px;
  }
    .main-container .input-box .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  .main-container .btn-box {
    padding-left: 0;
  }
    .main-container .btn-box .btn-lg {
      border-radius: 0;
      padding: 10px 16px 11px
    }

.list-group {
  height: 400px;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10;
  font-size: 18px;
  padding: 10px;
}
[ng-cloak] {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute !important;
    top: 0;
    /*width: 50%;  6 columns */
  }
}