<footer class="footer">
  <small>
    <a href="/"><b>Sequoia</b></a> by Friends of the Lorax
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Partners', '/partners' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</footer>