<footer class="footer">
  <small>
    <a href="/">Sequoia</a>
    by Friends of the Lorax
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About us', '/about' %></li>
      <li><%= link_to 'FAQ', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</footer>